* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

.container {
  overflow: hidden;
  position: relative;
}
.px20 {
  padding: 0 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.rightTopbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  margin-left: 7px;
  color: #808080;
}

.leftTopbar {
  display: flex;
  justify-content: space-between;
}

.lang select {
  border: none;
  color: #808080;
}

.curr select {
  border: none;
  margin-left: 7px;
  color: #808080;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.searchbarMobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.searchbarIcons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.searchbarIcons img {
  width: 22px;
}

.searchShow {
  background-color: aliceblue;
  display: none;
  box-shadow: 0 0 8px;
  position: absolute;
  top: 100px;
  justify-content: center;
}

.crossIcon {
  display: flex;
  justify-content: right;
}

.crossIcon img {
  width: 20px;
  position: absolute;
}

.searchInput {
  padding: 20px;
}

.background {
  position: fixed;
  height: 100vh;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.329);
  width: 100vw;
  z-index: 0;
}

.searchPopup {
  display: block;
}

.bgBox {
  display: grid;
  place-items: center;
}

.PhoneCallNoMob {
  display: block;
  position: absolute;
  top: 25px;
  right: -140px;
  width: 120px;
  transition: 1s;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  font-size: 17px;
  padding: 2px;
}

.search button {
  background-color: #00b207;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.contactUs {
  display: flex;
  justify-content: space-between;
}

.phoneCall img {
  width: 33px;
}

.PhoneCallNo {
  margin-left: 7px;
}

.PhoneCallNo p {
  color: #808080;
  margin-bottom: 2px;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.icons img {
  margin-left: 20px;
  width: 23px;
}

.topSection {
  z-index: 999;
  background-color: #fff;
}

.heroSection {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 600px;
  margin-top: 20px;
}

.hSLeft {
  background-image: url(assets/images/BannarBig.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: right;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 40px;
  border-radius: 10px;
  z-index: -10;
}

.hSLeftContent {
  padding-left: 20px;
}

.hSLeftContent h1 {
  color: white;
  font-size: 50px;
}

.hSLeftContent h5 {
  color: white;
  font-size: 20px;
  letter-spacing: 0.4px;
}

.hSLeftContent h5 button {
  background-color: #ff8a00;
  margin: 20px 0 10px 0;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.4px;
}

.hSLeftContent p {
  color: #ffffff;
}

.hSRight {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
  padding-left: 10px;
}

.hSRTop {
  background-image: url(assets/images/BG.png);
  margin: 0 0 10px 10px;
  border-radius: 10px;
  padding: 30px 0 0 20px;
}

.hSRTop h4 {
  letter-spacing: 0.4px;
  padding-bottom: 3px;
}

.hSRTop h2 {
  font-size: 34px;
  padding-bottom: 8px;
}

.hSRTop p {
  font-size: 18px;
  padding-bottom: 20px;
  color: #666666;
}

.hSRTop button {
  border: none;
  font-size: 18px;
  color: #00b207;
  display: flex;
  align-items: center;
}

.hSRTop button b {
  padding-right: 10px;
}

.hSRBottom {
  background-image: url(assets/images/BG1.png);
  margin: 10px 0 0 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  /* padding-top: 50px; */
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hSRBottom h5 {
  /* padding: 4px; */
  letter-spacing: 1px;
}

.hSRBottom button {
  border: none;
  font-size: 18px;
  color: #00b207;
  display: flex;
  align-items: center;
  padding-top: 10px;
  background-image: transparent;
}

.hSRBottom button b {
  padding-right: 10px;
}

.featuresSec {
  margin: 40px 0;
  box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 30px;
}

.featureBox {
  display: flex;
  align-items: center;
}

.featureIcon {
  padding-right: 10px;
}

.featureIcon img {
  width: 25px;
  padding-top: 8px;
}

.featureText h4 {
  padding-bottom: 2px;
  font-size: 13px;
}

.featureText p {
  font-size: 11px;
  color: #999999;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header h3 {
  font-size: 30px;
}

.viewBtn {
  display: flex;
  color: #00b207;
  align-items: center;
}

.viewBtn h5 {
  padding-right: 10px;
  font-size: 16px;
}

.popularCategories {
  display: block;
}

.popularCategoriesMobile {
  display: none;
}

.leftArr {
  background-color: rgba(242, 242, 242, 1);
  padding: 10px;
  border-radius: 30px;
}

.rightArr {
  background-color: rgba(0, 178, 7, 1);
  padding: 10px;
  border-radius: 30px;
}

.categoryItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  transition: 0.3s;
}

.item {
  margin: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px rgba(229, 229, 229, 1);
  display: flex;
  flex-direction: column;
}
.item b {
  margin-top: 10px;
}
/* .item img {
  margin: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px rgba(229, 229, 229, 1);
} */

/* .categoryItem h5 {
  padding: 5px 0 15px 0;
} */

.popularproducts {
  margin-top: 40px;
}

.productContant {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.product {
  /* margin: 0 -16px; */
  box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px rgba(230, 230, 230, 1);
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
}

.bannerContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 30px 0;
}

.banner {
  width: 100%;
  height: 540px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner1 {
  background-image: url(assets/images/Rectangle.54.png);
}

.banner2 {
  background-image: url(assets/images/Rectangle.54.1.png);
}

.banner3 {
  background-image: url(assets/images/Rectangle.54.2.png);
  color: #000000;
}

.tag {
  font-size: 12px;
  letter-spacing: 1px;
}

.banner h2 {
  font-size: 31px;
  margin-top: 15px;
}

.price {
  padding: 21px 0;
}

.price b {
  color: #ff8a00;
}

.off {
  color: white;
  padding: 18px 0px;
  border-radius: 20px;
  font-size: 14px;
}

.off button {
  border: none;
  padding: 5px;
  color: white;
  background-color: rgba(26, 26, 26, 1);
}

.timer {
  display: flex;
  justify-content: center;
}

.timer div {
  margin: 6px;
}

.timer div b {
  font-size: 20px;
}

.shopBtn {
  margin-top: 20px;
  background-color: white;
  color: #00b207;
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.shopBtn img {
  width: 14px;
}

.HotDeals {
  margin-top: 40px;
}

/* .deals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
} */

/* .Deals { */
/* margin: 0 -16px; */
/* box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border: 1px rgba(230, 230, 230, 1);
  display: flex;
  flex-direction: column;
} */

.deals {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.Deals {
  text-align: center;
  border: 1px rgba(230, 230, 230, 1);
  box-shadow: 0 0 0.5px;
  padding: 5px;
}

.Deals img {
  width: 100%;
}

.OfferBanner {
  background-image: url(assets/images/736ac341802327b2806c879e76b9b8612d16e984.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  margin: 40px 0;
  position: relative;
}
.bannerText {
  position: absolute;
  left: 70%;
  top: 13%;
  color: white;
}

.bannerText b {
  font-size: 15px;
  letter-spacing: 1px;
}

.bannerText h3 {
  padding-top: 5px;
  font-size: 45px;
}

.bannerText p {
  color: Gray;
  padding: 10px 0;
}

.bannerText h3 span {
  color: #ff8a00;
}

.OffershopBtn {
  margin-top: 20px;
  background-color: #00b207;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.OffershopBtn img {
  width: 14px;
}

.featuredProducts {
  margin-top: 40px;
}

.titleName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.titleName h3 {
  font-size: 30px;
}

.viewAll {
  display: flex;
  color: #00b207;
  align-items: center;
}

.viewAll h5 {
  padding-right: 10px;
  font-size: 16px;
}

.FeaturedContant {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.vegitables {
  box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px rgba(229, 229, 229, 1);
  display: flex;
  flex-direction: column;
}

.vegitables img {
  width: 100%;
}

.latestNews {
  max-width: 1320px;
  margin: auto;
  padding: 40px 0;
}

.sectionTitle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 700px;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.newsCard {
  overflow: hidden;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);

}

.newsImg {
  position: relative;
  overflow: hidden;
}

.newsImg img {
  width: 100%;
  object-fit: cover;
}

.newsDate {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: center;
  width: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.newsDtae span {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.newsDate small {
  font-size: 12px;
}

.newsContent {
  padding: 20px;
}

.newsMeta {
  display: flex;
  gap: 15px;
  font-size: 13px;
  margin-bottom: 10px;
  list-style: none;
  align-items: center;
}

.newsMeta li {
  display: flex;
  align-items: center;
}
.newsMeta li img{
  width: 15px;
  margin: 4px;
}

.newsContent h3 {
  font-size: 17px;
  color: rgba(26, 26, 26, 1);
  margin-bottom: 10px;
  line-height: 1.4;
}



.newsContent p {
  font-size: 14px;
  margin-bottom: 15px;
}

.newsContent a {
  font-size: 14px;
  color:#00b207;
  text-decoration: none;
}

.newsContent a img{
  width: 15px;
}

.testimonials {
  background-color: rgba(242, 242, 242, 1);
  padding: 40px 0 20px 0;
}

.testHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testHeader h2 {
  font-size: 30px;
  font-weight: 700px;
}

.button {
  border: none;
}

.navBtn1 {
  background-color: white;
  border-radius: 30px;
  padding: 13px;
}

.navBtn2 {
  background-color: #00b207;
  border-radius: 30px;
  padding: 13px;
}

.testimonialMainContainer {
  background-color: rgba(242, 242, 242, 1);
  padding: 0px 20px;
}

.testimonialCardContainer {
  overflow: hidden;
}

.testimonialGrid {
  display: flex;
  align-items: end;
  gap: 25px;
  padding-bottom: 40px;
  position: relative;
  transition: 1s;
}

.testimonialCard {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  margin: 0 10px;
  min-width: 300px;
}

.testimonialCard p {
  font-size: 9px;
  color: rgba(77, 77, 77, 1);
}

.quote {
  width: 15px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.profile {
  width: 40px;
}

.user h4 {
  font-size: 15px;
}

.user span {
  font-size: 10px;
  color: rgba(153, 153, 153, 1);
}

.star {
  margin-left: auto;
  width: 15px;
}

/* .companyLogo {
  animation: scroll 10s linear infinite;
  margin: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ff8a00;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.instagramSection {
  text-align: center;
}

.instaGallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 20px 0 40px 0;
}

.instaGallery img {
  width: 150px;
}

.newSletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.newSletterLeft h2 {
  font-size: 18px;
}

.newSletterLeft p {
  font-size: 10px;
  color: rgba(153, 153, 153, 1);
}

.newSletterRight input {
  padding: 5px 50px 5px 10px;
  border-radius: 21px 0px 0px 21px;
  border-color: rgba(229, 229, 229, 1);
}

.newSletterRight button {
  background-color: #00b207;
  border: none;
  padding: 7px;
  border-radius: 20px;
  margin-left: -30px;
}

.footer {
  background-color: rgba(26, 26, 26, 1);
  color: rgba(128, 128, 128, 1);
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 40px 50px;
}

.footerBox P {
  font-size: 10px;
}

.footerBox h4 {
  color: white;
  margin-bottom: 15px;
}

.footerBox ul {
  list-style: none;
}

.footerBox ul li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;
}

.footerContact {
  display: flex;
  justify-content: space-evenly;
}

.footerContact span {
  padding: 0 30px;
}

.footerBottom {
  background-color: rgba(26, 26, 26, 1);
  color: rgba(128, 128, 128, 1);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .logo img {
    width: 110px;
  }

  .search input {
    font-size: 12px;
    padding: 1px;
    width: 140px;
  }

  .search button {
    border-radius: 1px;
    font-size: 8px;
  }

  .phoneCall img {
    width: 25px;
  }

  .PhoneCallNo {
    margin-left: 7px;
  }

  .PhoneCallNo p {
    color: #808080;
    margin-bottom: 2px;
    font-size: 13px;
  }

  .PhoneCallNo h4 {
    font-size: 13px;
  }

  .navigation {
    padding: 10px 20px;
  }

  .navbar a {
    margin-right: 15px;
  }

  .heroSection {
    display: flex;

    gap: 20px;
    flex-direction: column;
  }

  .hSLeftContent h1 {
    font-size: 40px;
  }

  .hSLeftContent p {
    font-size: 12px;
  }

  .hSLeftContent h5 {
    font-size: 18px;
  }

  .hSLeftContent h5 button {
    padding: 4px;
  }

  .hSRight {
    padding-left: 0;
    gap: 20px;
    display: none;
  }

  .hSRTop {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .hSRBottom {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
  }

  .featuresSec {
    padding: 0;
    width: 30px 0;
    grid-template-columns: 50% 50%;
    box-shadow: none;
  }

  .featureBox {
    padding: 10px;
    box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
    margin: 0;
    border-radius: 5px;
  }

  .featuresSec h4 {
    font-size: 11px;
  }

  .featureText p {
    font-size: 9px;
  }

  .header h3 {
    font-size: 23px;
  }

  .viewBtn h5 {
    font-size: 12px;
  }

  .viewBtn img {
    font-size: 12px;
  }

  .popularCategories {
    display: none;
  }

  .popularCategoriesMobile {
    display: block;
  }

  .categoryItem {
    flex-wrap: nowrap;
  }

  .product {
    width: 180px;
  }
  .md-d-none {
    display: none;
  }

  .banner {
    height: 285px;
    padding: 20px 10px;
  }

  .tag {
    font-size: 10px;
  }

  .banner h2 {
    font-size: 22px;
    margin-top: 10px;
  }

  .timer div {
    margin: 7px;
  }

  .timer div b {
    font-size: 12px;
  }

  .timer div p {
    font-size: 10px;
  }

  .shopBtn {
    margin-top: 15px;
    padding: 6px 7px;
    font-size: 11px;
    gap: 4px;
  }

  .shopBtn img {
    width: 12px;
  }

  .price {
    font-size: 14px;
    padding: 16px 0;
  }

  .off {
    margin-top: 0px;
    padding: 13px 0;
    font-size: 13px;
    padding: 12px 0px;
  }

  .off button {
    padding: 2px 3px;
    font-size: 12px;
  }

  .deals {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 426px) {
  .searchbar {
    display: none;
  }
  .searchbarMobile {
    display: flex;
  }

  .showMobNo {
    right: 0px;
  }

  .map img {
    width: 14px;
  }

  .rightTopbar {
    font-size: 11px;
  }

  .lang select {
    font-size: 11px;
  }

  .curr select {
    font-size: 11px;
  }

  .logo img {
    width: 85px;
  }

  .search input {
    font-size: 8px;
    width: 80px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: -100px;
    z-index: -9;
    transition: 0.7s;
  }

  .hamburger {
    display: block;
  }

  .show {
    padding: 10px;
    top: 45px;
  }
  .product {
    width: 120px;
  }
  .sm-d-none {
    display: none;
  }

  .bannerContainer {
    flex-direction: column;
  }

  .banner {
    height: 270px;
  }

  .deals {
    grid-template-columns: repeat(3, 1fr);
  }
}
