* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

.container {
  overflow: hidden;
  position: relative;
}
.px20 {
  padding: 0 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.rightTopbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  margin-left: 7px;
  color: #808080;
}

.leftTopbar {
  display: flex;
  justify-content: space-between;
}

.lang select {
  border: none;
  color: #808080;
}

.curr select {
  border: none;
  margin-left: 7px;
  color: #808080;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.searchbarMobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.searchbarIcons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.searchbarIcons img {
  width: 22px;
}

.searchShow {
  background-color: aliceblue;
  display: none;
  box-shadow: 0 0 8px;
  position: absolute;
  top: 100px;
  justify-content: center;
}

.crossIcon {
  display: flex;
  justify-content: right;
}

.crossIcon img {
  width: 20px;
  position: absolute;
}

.searchInput {
  padding: 20px;
}

.background {
  position: fixed;
  height: 100vh;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.329);
  width: 100vw;
  z-index: 0;
}

.searchPopup {
  display: block;
}

.bgBox {
  display: grid;
  place-items: center;
}

.PhoneCallNoMob {
  display: block;
  position: absolute;
  top: 25px;
  right: -140px;
  width: 120px;
  transition: 1s;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  font-size: 17px;
  padding: 2px;
}

.search button {
  background-color: #00b207;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.contactUs {
  display: flex;
  justify-content: space-between;
}

.phoneCall img {
  width: 33px;
}

.PhoneCallNo {
  margin-left: 7px;
}

.PhoneCallNo p {
  color: #808080;
  margin-bottom: 2px;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.icons img {
  margin-left: 20px;
  width: 23px;
}

.topSection {
  z-index: 999;
  background-color: #fff;
}

.heroSection {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 600px;
  margin-top: 20px;
}

.hSLeft {
  background-image: url(assets/images/BannarBig.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: right;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 40px;
  border-radius: 10px;
  z-index: -10;
}

.hSLeftContent {
  padding-left: 20px;
}

.hSLeftContent h1 {
  color: white;
  font-size: 50px;
}

.hSLeftContent h5 {
  color: white;
  font-size: 20px;
  letter-spacing: 0.4px;
}

.hSLeftContent h5 button {
  background-color: #ff8a00;
  margin: 20px 0 10px 0;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.4px;
}

.hSLeftContent p {
  color: #ffffff;
}

.hSRight {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
  padding-left: 10px;
}

.hSRTop {
  background-image: url(assets/images/BG.png);
  margin: 0 0 10px 10px;
  border-radius: 10px;
  padding: 30px 0 0 20px;
}

.hSRTop h4 {
  letter-spacing: 0.4px;
  padding-bottom: 3px;
}

.hSRTop h2 {
  font-size: 34px;
  padding-bottom: 8px;
}

.hSRTop p {
  font-size: 18px;
  padding-bottom: 20px;
  color: #666666;
}

.hSRTop button {
  border: none;
  font-size: 18px;
  color: #00b207;
  display: flex;
  align-items: center;
}

.hSRTop button b {
  padding-right: 10px;
}

.hSRBottom {
  background-image: url(assets/images/BG1.png);
  margin: 10px 0 0 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  /* padding-top: 50px; */
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hSRBottom h5 {
  /* padding: 4px; */
  letter-spacing: 1px;
}

.hSRBottom button {
  border: none;
  font-size: 18px;
  color: #00b207;
  display: flex;
  align-items: center;
  padding-top: 10px;
  background-image: transparent;
}

.hSRBottom button b {
  padding-right: 10px;
}

.featuresSec {
  margin: 40px 0;
  box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 30px;
}

.featureBox {
  display: flex;
  align-items: center;
}

.featureIcon {
  padding-right: 10px;
}

.featureIcon img {
  width: 25px;
  padding-top: 8px;
}

.featureText h4 {
  padding-bottom: 2px;
  font-size: 13px;
}

.featureText p {
  font-size: 11px;
  color: #999999;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header h3 {
  font-size: 30px;
}

.viewBtn {
  display: flex;
  color: #00b207;
  align-items: center;
}

.viewBtn h5 {
  padding-right: 10px;
  font-size: 16px;
}

.popularCategories {
  display: block;
}

.popularCategoriesMobile {
  display: none;
}

.leftArr {
  background-color: rgba(242, 242, 242, 1);
  padding: 10px;
  border-radius: 30px;
}

.rightArr {
  background-color: rgba(0, 178, 7, 1);
  padding: 10px;
  border-radius: 30px;
}

.categoryItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  transition: 0.3s;
}

.item {
  margin: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px rgba(229, 229, 229, 1);
  display: flex;
  flex-direction: column;
}
.item b {
  margin-top: 10px;
}
/* .item img {
  margin: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 0.5px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px rgba(229, 229, 229, 1);
} */

/* .categoryItem h5 {
  padding: 5px 0 15px 0;
} */

.popularproducts {
  margin-top: 40px;
}

.productContant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

 .product{
  /* margin: 0 -16px; */
    box-shadow: 0 0 0.5px;
    padding-top: 5px;
    border-radius: 5px;
    border: 1px rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: column; 
} 

.product img {
  width: 100%;
}

.bannerContainer{
  display: flex;
  gap: 20px;
  width: 100%;

}

.banner{
  flex: 1;
  height: 540px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.banner1{
  background-image: url(assets/images/Rectangle.54.png);
}

.banner2{
  background-image: url(assets/images/Rectangle.54.2.png);
}

.banner3{
  background-image: url(assets/images/Rectangle.54.1.png);
}


@media (max-width: 769px) {
  .logo img {
    width: 110px;
  }

  .search input {
    font-size: 12px;
    padding: 1px;
    width: 140px;
  }

  .search button {
    border-radius: 1px;
    font-size: 8px;
  }

  .phoneCall img {
    width: 25px;
  }

  .PhoneCallNo {
    margin-left: 7px;
  }

  .PhoneCallNo p {
    color: #808080;
    margin-bottom: 2px;
    font-size: 13px;
  }

  .PhoneCallNo h4 {
    font-size: 13px;
  }

  .navigation {
    padding: 10px 20px;
  }

  .navbar a {
    margin-right: 15px;
  }

  .heroSection {
    display: flex;

    gap: 20px;
    flex-direction: column;
  }

  .hSLeftContent h1 {
    font-size: 40px;
  }

  .hSLeftContent p {
    font-size: 12px;
  }

  .hSLeftContent h5 {
    font-size: 18px;
  }

  .hSLeftContent h5 button {
    padding: 4px;
  }

  .hSRight {
    padding-left: 0;
    gap: 20px;
    display: none;
  }

  .hSRTop {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .hSRBottom {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
  }

  .featuresSec {
    padding: 0;
    width: 30px 0;
    grid-template-columns: 50% 50%;
    box-shadow: none;
  }

  .featureBox {
    padding: 10px;
    box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
    margin: 0;
    border-radius: 5px;
  }

  .featuresSec h4 {
    font-size: 11px;
  }

  .featureText p {
    font-size: 9px;
  }

  .header h3 {
    font-size: 23px;
  }

  .viewBtn h5 {
    font-size: 12px;
  }

  .viewBtn img {
    font-size: 12px;
  }

  .popularCategories {
    display: none;
  }

  .popularCategoriesMobile {
    display: block;
  }

  .categoryItem {
    flex-wrap: nowrap;
  }

.product{
  width: 180px;
}
.md-d-none {
  display: none;
}
}

@media (max-width: 426px) {
  .searchbar {
    display: none;
  }
  .searchbarMobile {
    display: flex;
  }

  .showMobNo {
    right: 0px;
  }

  .map img {
    width: 14px;
  }

  .rightTopbar {
    font-size: 11px;
  }

  .lang select {
    font-size: 11px;
  }

  .curr select {
    font-size: 11px;
  }

  .logo img {
    width: 85px;
  }

  .search input {
    font-size: 8px;
    width: 80px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: -100px;
    z-index: -9;
    transition: 0.7s;
  }

  .hamburger {
    display: block;
  }

  .show {
    padding: 10px;
    top: 45px;
  }
.product {
  width: 120px;
}


  .sm-d-none{
    display: none;
  }
}

